.dashbaord-bg {
  color: #888da8;
  background: #e9ecef;
}

.listview-outlook .list .list-content {
  padding: 2px 5px;
}

.listview-outlook .list .list-content .list-title {
  white-space: normal;
}

#sidebar ul.menu-categories {
  padding-top: 0px;
}

#sidebar ul.menu-categories li.menu > .dropdown-toggle {
  padding: 22px 5px 30px 0px;
}

.page-title {
  margin-bottom: 12px;
  margin-top: 12px;
}

.portlet-dark .portlet-title,
.portlet-dark .portlet-body {
  padding: 10px 15px;
}

.listview-outlook .list .list-content .list-title {
  cursor: pointer;
  font-size: 15.32px;
  font-weight: 200;
  color: #4f5163;
}

.listview-outlook .list .list-content .list-subtitle {
  font-size: 0.8rem;
  line-height: 1.5;
}

.navbar .sidebarCollapse {
  padding: 8px 8px 8px 0;
}

.chat-messages .chat-container .chat-body .table > tbody > tr .media img {
  width: 48px;
  height: 48px;
}

.raised-tickets table tbody td > .media img {
  width: 56px;
  height: 56px;
}


.cursor-pt {
  cursor: pointer;
}

.text-green {
  color: #029508 !important;
  font-weight: bold !important;
}

.text-red {
  color: red !important;
  font-weight: bold !important;
}

.formError {
  position: absolute !important;
  bottom: -35px !important;
  color: red !important;
  padding-left: 14px !important;
}

form {
  padding: 0 15px;
}
.disblock {
  display: block !important;
}

.form-control:focus {
  border-color: #f1f3f1;
  border-left: solid 3px #3862f5;
}


.loadingText {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mb-15{
  margin-bottom: 15px !important;
}
.mb-30 {
 margin-bottom: 30px !important;
}


.columns {
  display: flex;
}

.column {
  margin: calc(var(--grid) / 2);
  border: var(--borderWidth) solid #0ff0fc;
  border-radius: var(--borderRadius);
  background-color: #2a2f41;
}

.column-title {
  font-size: 40px;
  color: var(--pink);
  text-shadow: 0px 0px 2px var(--pinkDark),
    0px 0px 15px rgba(255, 110, 255, 0.5);
  text-align: center;
  margin: 0;
}

.column-title:hover {
  text-shadow: 0px 0px 2px var(--pinkDark),
    0px 0px 15px rgba(255, 110, 255, 0.8);
}

.task-list {
  /* this has no visible impact, but is in line with the absolute position spacing.
  doing this ensures that dropping into an empty list will be in the correct visual position */
  padding-left: var(--grid);
  padding-right: var(--grid);
  scrollbar-color: dark;
}

.task-list::-webkit-scrollbar {
  width: 1em;
}

.task-list::-webkit-scrollbar-track {
  background-color: var(--greyLight);
  border-radius: var(--borderRadius);
}

.task-list::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

.item {
  background: #333851;
  border: var(--borderWidth) solid mediumpurple;
  box-sizing: border-box;
  border-radius: var(--borderRadius);
  color: #cdd5ee;
  font-size: 30px;
  user-select: none;

  /* center align text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item.is-dragging {
  background: #515b7d;
  border-color: #08ff08;
  box-shadow: 0px 0px 2px rgb(8, 58, 30), 0px 0px 10px MediumSeaGreen;
}


@media (max-width: 991px) {
  #sidebar {
    height: auto !important;
  }
}

@media (min-width: 576px) {
  .modal-sm {
    max-width: 70%;
  }
}
