.login {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  background-color: #b4b1b1;
}
.formLogin {
  width: 410px;
  max-width: 410px;
  padding: 35px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09);
  width: 100%;
  margin: auto;
}
.formLogin label {
  color: #888ea8;
  text-transform: uppercase;
  font-size: 13px;
}
.formLogin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 3px;
  font-size: 16px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e9ecef;
}
.formLogin .form-control::-webkit-input-placeholder {
  color: #3862f5;
  font-size: 14px;
  opacity: 0;
}
.formLogin .form-control::-ms-input-placeholder {
  color: #3862f5;
  font-size: 14px;
  opacity: 0;
}
.formLogin .form-control::-moz-placeholder {
  color: #3862f5;
  font-size: 14px;
  opacity: 0;
}
.formLogin .form-control:focus {
  z-index: 2;
}
.formLogin .checkbox .custom-control label {
  color: #3b3f5c;
  text-transform: capitalize;
  font-size: 14px;
}
.formLogin .forgotPass a {
  color: #5247bd;
  text-transform: lowercase;
  font-size: 13px;
  margin-left: -17px;
}
.formLogin .social-icons h5 {
  color: #494949;
  font-weight: 600;
}

.formPassRecovery h4 {
  font-weight: 600;
  color: #000;
}
.formPassRecovery p {
  color: #000;
}
.formPassRecovery {
  width: 410px;
  max-width: 410px;
  padding: 35px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09);
  width: 100%;
  margin: auto;
}
.formPassRecovery label {
  color: #888ea8;
  text-transform: uppercase;
  font-size: 13px;
}
.formPassRecovery .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 3px;
  font-size: 16px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e9ecef;
}
.formPassRecovery .form-control::-webkit-input-placeholder {
  color: #3862f5;
  font-size: 14px;
  opacity: 0;
}
.formPassRecovery .form-control::-ms-input-placeholder {
  color: #3862f5;
  font-size: 14px;
  opacity: 0;
}
.formPassRecovery .form-control::-moz-placeholder {
  color: #3862f5;
  font-size: 14px;
  opacity: 0;
}
.formPassRecovery .form-control:focus {
  z-index: 2;
}
.formPassRecovery .checkbox .custom-control label {
  color: #3b3f5c;
  text-transform: capitalize;
  margin-left: -12px;
  font-size: 14px;
}
.formPassRecovery .forgot-pass a {
  color: #5247bd;
  text-transform: lowercase;
  font-size: 13px;
}
.formPassRecovery .social-icons ul li a i {
  color: #888ea8;
  font-size: 19px;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 991px) {
  @media (max-width: 991px) {
    .login {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}
